body {
    background: #ff4d4d; 
    text-align: center; 
    font-family: Arial, sans-serif;
}

img { width: 200px; }

button {
    font-size: 18px; 
    margin: 10px; 
    padding: 10px; 
    cursor: pointer;
}

#no { position: absolute; }

.hidden {
    display: none;
}

.response-img {
    width: 250px;
}
